.search-suggestion {
	border-radius: 10px;
	font-size: 1.4rem;
	border: 1px solid lightgray;
	cursor: pointer;
	height: 10rem;

	display: grid;
	grid-template-columns: 27vw 1fr;
	grid-row-gap: 1rem;
	overflow: hidden;

	img {
		height: 25%;
		max-width: 100%;
		grid-column: 1 / span 1;
		transform: translateX(-3px);
		z-index: inherit;
	}

	// &__title {
	// 	font-size: 1.6rem;
	// 	grid-column: 2 / span 1;
	// }

	&__content {
		padding: .8rem;

		grid-column: 2 / span 1;
	}

	&__region,
	&__country {
		display: inline-block;
	}
}
